<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="./test/phpunit_bootstrap.php"

        backupStaticAttributes="false"

        cacheTokens="false"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        mapTestClassNameToCoveredClassName="false"
        printerClass="PHPUnit_TextUI_ResultPrinter"

        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"

        strict="false"
        verbose="false"
        >

    <testsuites>
        <testsuite name="unit">
            <directory>./test/unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>./test/functional/phpunit</directory>
        </testsuite>
    </testsuites>
</phpunit>