sudo su
cd ~

# Set timezone to use here
ln -sf /usr/share/zoneinfo/Europe/Oslo /etc/localtime

# Download updated yum repositories (epel and remi for php 5.5)
wget http://dl.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-8.noarch.rpm
wget http://rpms.famillecollet.com/enterprise/remi-release-6.rpm
rpm -Uvh remi-release-6*.rpm epel-release-6*.rpm

# Create yum repo for mongodb
touch /etc/yum.repos.d/mongodb.repo
echo "
[mongodb]
name=MongoDB Repository
baseurl=http://downloads-distro.mongodb.org/repo/redhat/os/x86_64/
gpgcheck=0
enabled=1" > /etc/yum.repos.d/mongodb.repo

# Install apache, php, and mongodb. Need some devel stuff to be able to build mongodb as well.
yum -y --enablerepo=remi,remi-php55 install httpd php php-common php-devel php-cli php-pecl-xdebug php-pdo php-opcache php-mbstring php-mcrypt php-xml mongodb-org gcc-c++

# Build mongo without enterprise support stuff (thats why we pipe to no)
no | pecl install mongo

# Enable mongodb and xdebug in php.ini
echo "
extension=mongo.so" >> /etc/php.ini
echo "
[xdebug]
xdebug.remote_host=10.0.2.2
xdebug.remote_enable=on
xdebug.remote_connect_back=off
xdebug.profiler_enable=off
xdebug.profiler_output_dir=/vagrant/profiles" >> /etc/php.ini

# Start services
service httpd start
service mongod start

# Make sure services start on system startup
chkconfig httpd on
chkconfig mongod on

# Link test/functional/web to web page found at /web
ln -s /vagrant/test/functional/web /var/www/html/web