{
  "dbhost":                  "127.0.0.1",
  "dbname":                  "test",
  "dbprefix":                "test",
  "insertIntervalInSeconds": 300,
  "nDays":                   30,
  "anomalyDetectionMethod":  "sigma",
  "noiseRate":               0.1,
  "anomalyPersistIntervals": 5
}