{
    "timezone":                "Europe/Oslo",
    "dbhost":                  "127.0.0.1",
    "dbname":                  "test",
    "dbprefix":                "test",
    "insertIntervalInSeconds": 300,
    "starttime":               "-60 days",
    "daysPerIteration":        "1 days",
    "valuesAreIncremental":    false,
    "nNids":                   10,
    "nSids":                   10,
    "doRetrievalTest":         true,
    "retrieveAggregation":     1,
    "retrieveResolution":      300,
    "anomalyDetectionMethod":  "sigma",
    "nIterations":             60
}