{
  "timezone":                "Europe/Oslo",
  "dbhost":                  "127.0.0.1",
  "dbname":                  "test",
  "dbprefix":                "test",
  "doInsertion":             false,
  "insertIntervalInSeconds": 300,
  "starttime":               "-60 days",
  "retrieveAggregation":     1,
  "retrieveResolution":      86400
}